* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(112, 114, 228);
  width: 100%;
}

header {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Fredoka One";
  color: white;
  -webkit-text-stroke: 2px black; /* makes black outline */
  font-size: 50px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#cookie-amount-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(112, 114, 228, 0.5);
  padding: 10px;
  border-radius: 10px;
  gap: 20px;
}

#x2-icon {
  width: 30px;
  height: auto;
}

#cookieamountImg {
  width: 40px;
  height: 40px;
}

p {
  font-family: "Fredoka One";
  color: white;
  -webkit-text-stroke: 1px black; /* makes black outline */
  font-size: 20px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#auto-power-container {
  font-family: "Fredoka One";
  color: white;
  -webkit-text-stroke: 1px black; /* makes black outline */
  font-size: 20px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
}

#money-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fredoka One";
  color: white;
  -webkit-text-stroke: 2.5px black; /* makes black outline */
  font-size: 30px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#cookie-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-column-start: 1;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 50px;
}

#cookieImg {
  width: 300px;
  animation: spin 5s linear infinite;
}

#cookieImg:active {
  animation: spin 5s linear infinite, size 0.1s linear;
}

#middle-container {
  grid-column-start: 2;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#right-container {
  grid-column-start: 3;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#cookie-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#InsufficientMoneyContainer {
  padding: 5px;
  border: 2px solid brown;
  background-color: rgba(112, 114, 228, 0.5);
  margin: 5px;
  width: 50%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  animation-duration: 0.5s;
  animation-name: spinSize;
  animation-timing-function: linear;
}

@keyframes spin {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinSize {
  0% {
    scale: 0;
    opacity: 0.3;
  }
  100% {
    transform: rotate(360deg);
    scale: 1;
    opacity: 1;
  }
}

@keyframes size {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}

#\31,
#\32,
#\33,
#\34,
#\35,
#\36,
#\37,
#\38,
#\39,
#\31 0 {
  padding: 5px;
  border: 2px solid brown;
  background-color: rgba(112, 114, 228, 0.5);
  margin: 5px;
  width: 90%;
  border-radius: 20px;
}

#upgrades-title-container {
  padding: 5px;
  border: 2px solid brown;
  background-color: rgba(112, 114, 228, 0.5);
  margin: 5px;
  width: 90%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#upgrade-title {
  font-size: 60px;
}

#cursorImg {
  width: 50px;
}

#\31,
#\32,
#\33,
#\34,
#\35,
#\36,
#\37,
#\38,
#\39,
#\31 0 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#\31:hover,
#\32:hover,
#\33:hover,
#\34:hover,
#\35:hover,
#\36:hover,
#\37:hover,
#\38:hover,
#\39:hover,
#\31 0:hover {
  padding: 2px;
  border: 2px solid brown;
  background-color: rgba(64, 66, 216, 0.5);
  margin: 5px;
  width: 90%;
  border-radius: 20px;
}

#\31:active,
#\32:active,
#\33:active,
#\34:active,
#\35:active,
#\36:active,
#\37:active,
#\38:active,
#\39:active,
#\31 0:active {
  padding: 2px;
  border: 2px solid brown;
  background-color: rgb(64, 66, 216);
  margin: 5px;
  width: 90%;
  border-radius: 20px;
  animation-duration: 0.2s;
  animation-name: size;
  animation-timing-function: linear;
}

#settings-container {
  background-color: rgba(0, 0, 0, 0.295);
  display: grid;
  padding: 10px;
  border-radius: 20px;
  width: 75%;
}

#red-background-img {
  padding: 2px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

#lightblue-background-img {
  padding: 2px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

#brown-background-img {
  padding: 2px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

#red-background-img:hover {
  padding: 4px;
}

#lightblue-background-img:hover {
  padding: 4px;
}

#brown-background-img:hover {
  padding: 4px;
}

#red-background-img:active {
  opacity: 0.5;
}

#lightblue-background-img:active {
  opacity: 0.5;
}

#brown-background-img:active {
  opacity: 0.5;
}

#volumeContainer {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background-icon {
  transition: 0.2s opacity ease, 0.2s padding ease;
}

#background-icon:hover {
  opacity: 0.5;
  padding: 6px;
}

#background-icon:active {
  opacity: 0.8;
  padding: 7px;
}

#cookie-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#golden-cookie-timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(112, 114, 228, 0.5);
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  gap: 20px;
  margin-top: 50px;
}

#golden-cookie-timer {
  font-size: 25px;
}

#small-cookie0 {
  position: absolute;
  margin-right: 20px;
  margin-bottom: 60px;
  width: 30px;
  height: 30px;
  animation: cookieFall 1s linear;
  pointer-events: none;
}

#small-cookie1 {
  position: absolute;
  margin-right: 60px;
  width: 30px;
  height: 30px;
  animation: cookieFall 1s linear;
  pointer-events: none;
}

#small-cookie2 {
  position: absolute;
  margin-left: 100px;
  margin-bottom: 40px;
  width: 30px;
  height: 30px;
  animation: cookieFall 1s linear;
  pointer-events: none;
}

#small-cookie3 {
  position: absolute;
  margin-right: 100px;
  margin-bottom: 20px;
  width: 30px;
  height: 30px;
  animation: cookieFall 1s linear;
  pointer-events: none;
}

#small-cookie4 {
  position: absolute;
  margin-left: 20px;
  margin-bottom: 100px;
  width: 30px;
  height: 30px;
  animation: cookieFall 1s linear;
  pointer-events: none;
}

@keyframes cookieFall {
  0% {
    transform: translateY(0px) scale(0);
  }
  25% {
    transform: translateY(-20px) scale(0.5);
  }
  50% {
    transform: translateY(20px) scale(1);
  }
  100% {
    transform: translateY(100px) scale(0);
  }
}

@media (max-width: 1100px) {
  #InsufficientMoneyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 0px;
  }
}

@media (max-width: 700px) {
  #settings-container {
    background-color: transparent;
  }
}

#upgrades-container {
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00000062;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000000bd;
  border-radius: 50px;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-button {
  display: block;
  background-color: transparent;
  border-radius: 50px;
}

:focus {
  outline: 3px solid orange;
  outline-offset: 3px;
}
